@import url("../public/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "BYekan";
  background-image: url("/public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.active{
  background-color: rgb(150, 150, 150);
}
.ck{
  text-align: right;
  direction: rtl;
}
.ck > p{
  text-align: right;
}

.rmdp-container{
  width: 90%;
}
.rmdp-container > input{
  width: 100%;
  border-radius: 0;
  padding: 20px;
}
.products > div > div > div{
  width: 100%;
}