@import url("../public/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "BYekan";
  background-image: url("/public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.active{
  background-color: rgb(150, 150, 150);
}
